@model FIX.Web.Models.HomeViewModels

@{
    ViewBag.Title = "Home Page";
    var userJoinDate = Model.userModel.CreatedTimestamp.ConvertToDateString();
}

<div class="panel dark-background">
    <h2 class="headline red">Profile</h2>

    <div class="row">
        <div class="col-md-6">
            <table class="table-display-list">
                <tr>
                    <td>Member ID / Name</td>
                    <td>@Html.DisplayFor(x => x.userModel.Username) / @Html.DisplayFor(x => x.userModel.Name)</td>
                </tr>
                <tr>
                    <td>Date Joined</td>
                    <td>@Html.DisplayFor(x => userJoinDate)</td>
                </tr>
                <tr>
                    <td>Subscribed Package(s)</td>
                    <td>Platinum</td>
                </tr>
                <tr>
                    <td>Member Tree Count</td>
                    <td>2332</td>
                </tr>
            </table>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-6">
        <div class="panel">
            <h2 class="headline green">Announcement</h2>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel">
            <h2 class="headline blue">Stats</h2>
        </div>
    </div>
</div>
