@model System.Web.Mvc.HandleErrorInfo

@{
    Layout = "_Portal.cshtml";
    ViewBag.Title = "Error";
}

<div class="content-wrapper">
    <div class="content-header">
        We're sorry
        <hr />
    </div>
    <div class="content-body">
        There is an error occurred in our server while processing your request, please contact our support if further error persist.
    </div>
</div>