.select2{
    min-width: 150px;
    width: 100% !important;
    max-width: 300px;
}

.select2-container .select2-selection--single{
    height: 38px !important;
    border-radius: 0 !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height: 38px !important;
    padding: 0px 11px;
    font-size: 16px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow{
    height: 38px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b{
    border-color: #000 transparent transparent transparent;
    margin-left: -3px;
    border-width: 5px 3px 0 3px;
}

@media only screen and (max-width: 1200px) {
    .select2{
        max-width: unset;
    }
}