@model FIX.Web.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
    Layout = "~/Views/Shared/_Portal.cshtml";
}

@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="content-wrapper">
        <div class="content-header">
            <h1>@ViewBag.Title</h1>
            <br />
            <h4>Enter your email here, we will send a password reset request to your email.</h4>
        </div>
        <div class="content-body">
            <div class="row">
                <div class="col-sm-12 spacing">
                    <fieldset>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-body">
                                    @Html.EditorFor(x => x.Email, "Email")
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                @Html.Editor("", "Submit")
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>

}

@section Scripts {
    <script>
        $('#Password').tooltip({
                title: "Password must be a minimum of 8 characters and contain at least letter, one capital letter and a number.",
                placement: "top",
                trigger: "focus"
        });
    </script>
}
