@{
    ViewBag.Title = "Password successfully reset";
    Layout = "~/Views/Shared/_Portal.cshtml";
}

<div class="content-wrapper">
    <div class="content-header">
        <h1>@ViewBag.Title</h1>
        <hr />
        <h4>Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" }).</h4>
    </div>
</div>