@model SetupViewModel
@{
    Layout = "~/Views/Shared/_Portal.cshtml";
}
@using (Html.BeginForm("Setup", "Account", FormMethod.Post))
{

    <div class="content-wrapper">
        <div class="content-header">
            <h1>Setting up your new account</h1>
            <br />
            <br/>
        </div>
        <div class="content-body">
            <div class="row">
                <div class="col-md-6 spacing">
                    <h4>Upload your receipt</h4>
                    <hr />
                    
                </div>
            </div>
        </div>
    </div>

    
}

@section scripts{

}