@model object

<div class="form-group">
    @Html.LabelFor(model => model, new { @class = "control-label" })
    <div class="">
        @Html.DropDownListFor(model => model, ViewData["DDL"] as IEnumerable<SelectListItem>, new { @class = "form-control" })
    </div>
</div>