@model decimal?

<div class="form-group">
    @Html.LabelFor(model => model, new { @class = "control-label col-lg-4 col-md-5" })
    <div class="col-lg-8 col-md-7">
        @if (ViewData["readonly"] != null && (bool)ViewData["readonly"])
        {
            @Html.TextBoxFor(model => model, new { @class = "form-control " + ((ViewData["class"] != null) ? ViewData["class"] : ""), @readonly = "readonly", @disabled = "disabled", @autocomplete = "off", maxlength = ViewData["maxlength"] })
        }
        else
        {
            @Html.TextBoxFor(model => model, new { @autocomplete = "off", @class = "form-control " + ((ViewData["class"] != null) ? ViewData["class"] : ""), maxlength = ViewData["maxlength"] })
            @Html.ValidationMessageFor(model => model)
        }
    </div>
</div>