@model decimal?

<div class="form-group">
    @Html.LabelFor(model => model, new { @class = "control-label col-lg-3" })
    <div class="col-lg-9">
        @if (ViewData["readonly"] != null && (bool)ViewData["readonly"])
        {
            @Html.TextBoxFor(model => model, new { @class = "form-control " + ((ViewData["class"] != null) ? ViewData["class"] : ""), @readonly = "readonly", @disabled = "disabled", @autocomplete = "off" })
        }
        else
        {
            @Html.TextBoxFor(model => model, new { @autocomplete = "off", @class = "form-control " + ((ViewData["class"] != null) ? ViewData["class"] : "") })
            @Html.ValidationMessageFor(model => model)
        }
    </div>
</div>