@model string

<div class="form-group">
    @Html.LabelFor(model => model, new { @class = "control-label col-lg-4 col-md-5" })
    <div class="col-lg-8 col-md-7">
        @Html.PasswordFor(model => model, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model)
    </div>
</div>