<div class="form-group">
    <div class="control-label col-lg-4 col-md-5"></div>
    <div class="col-lg-8 col-md-7">
        @if (ViewData["PreviousAction"] != null) {
            Html.ActionLink("Back", ViewData["PreviousAction"].ToString(), null, new { @class = "btn btn-default" });
        }
        <button class="btn btn-submit" type="submit">Submit</button>
    </div>
</div>