@{
    ViewBag.Title = "My Investment";
}

<div class="panel">
    <div class="panel-content">
        <h1>My Investment</h1>
        <a id="A1" href="@Url.Action("Create")"
           class="btn btn-action">
            <span class="glyphicon glyphicon-plus"></span> Add Package
        </a>
    </div>
</div>

@Html.Partial("_UserPackage")

@section scripts{
    <script>
        $(function () {
            $('#table_userpackage').on('click-row.bs.table', function (e, row, $element) {
                $('#table_userpackage tr').removeClass('selected');

                $('#table_userpackagedetail').bootstrapTable('refresh', {
                    query: {
                        userPackageId: row.UserPackageId
                    }
                })

                $($element).toggleClass('selected');
            });
        });
    </script>
}

