$container-padding-left: 15px;


@mixin screen-large {
  @media only screen and (max-width: 1500px) {
    @content;
  }
}

@mixin screen-medium {
  @media only screen and (max-width: 1200px) {
    @content;
  }
}

@mixin screen-small {
  @media only screen and (max-width: 767px) {
    @content;
  }
}



* {
    -webkit-overflow-scrolling: touch;
}

html, body {
    width: 100%;
    height: 100%;
    overflow:hidden;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

html{
    touch-action: manipulation;
}

body{
    background-color: #505050;
    overflow-y: scroll;
    /*font-size: 1em;*/
    font-family: 'Arimo', sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%
}

[aria-hidden="true"]  { display: none; }
[aria-hidden="false"] { display: block; }
.noscroll { 
  overflow: hidden;
}

.wrapper { position: relative; }
i.fa-icon { position: absolute; top: 10px; left: 50px; }

.border-right{
    border-right: 1px solid grey;
    box-shadow: 5px 0px 3px -3px lightgrey;
}

.has-fixed-header{
    padding-top: 51px;
}


/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
select2,
textarea {

    max-width: 300px;

    @include screen-small{
        max-width: unset;
    }
}

select{
    padding: 16px;
}

.select2{
    min-width: 150px;
    width: 100% !important;
    max-width: 300px;
}

.select2-container .select2-selection--single{
    height: 36px;
    border-radius: 0;
}

.select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height: 38px;
    padding: 0px 11px;
    font-size: 16px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow{
    height: 38px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b{
    border-color: #000 transparent transparent transparent;
    margin-left: -3px;
    border-width: 5px 3px 0 3px;
}

a{
    color: #333;
}

h1, h2, h3{
    margin-top: 2px;
}

h1{
    @include screen-small{
        font-size: 2.5em;
    }
}

button{
    outline: none !important;
}

legend{
    font-size: 28px;
    font-weight: 600;
    /*padding-top: 25px;*/
    margin-bottom: 16px;
}

.float-right{
    float: right;
}

.spacing{
    margin: 15px 0px;
}

.no-margin-left{
    margin-left: 0 !important;
}

.no-padding-left{
    padding-left: 0 !important;
}

.no-padding-right{
    padding-right: 0 !important;
}

.no-padding-top{
    padding-top: 0 !important;
}

.no-padding-bottom{
    padding-bottom: 0 !important;
}

.no-padding{
    padding: 0 !important;
}

.no-padding-side{
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.no-margin{
    margin: 0 !important;
}

.required-field::before{
    position: absolute;
    content: '* ';
    font-size: 12px;
    color: red;
    margin-left: -8px;
}

thead{
    background: #eee;
}

input{
    &.sm{
        width: 75px !important;
    }

    &.md{
        width: 125px !important;
    }

    &.num,
    &.dec,
    &.int{
        text-align: right;
    }
}

input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
}

select[readonly]{
    pointer-events: none;
    filter: contrast(1.2);
}

.g-recaptcha {
    transform:scale(0.75);
    transform-origin:20% 50%;
    text-align: center;
}



/*Remove bullet*/
ul{
    list-style-type: none;
}

.container{
    position: relative;
    margin:0 auto;
    padding-left: 250px;
    padding-right: 0;
    height: 100%;
    width: 1520px;
    transition: all linear .2s;
}

.fixed-wrapper{
    position: absolute;
    left: 0;
    z-index: 2;
}

.scrollable::-webkit-scrollbar {
    width: 6px;
}
.scrollable::-webkit-scrollbar-track {
    
    -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.5); 

}
.scrollable::-webkit-scrollbar-thumb {
    background-color: grey;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}
.sidebar{
    background: rgba(82,82,82,1);
    background: -moz-linear-gradient(-45deg, rgba(82,82,82,1) 0%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(82,82,82,1)), color-stop(76%, rgba(43,43,43,1)), color-stop(91%, rgba(28,28,28,1)), color-stop(100%, rgba(19,19,19,1)));
    background: -webkit-linear-gradient(-45deg, rgba(82,82,82,1) 0%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(82,82,82,1) 0%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(82,82,82,1) 0%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
    background: linear-gradient(135deg, rgba(82,82,82,1) 0%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#525252', endColorstr='#131313', GradientType=1 );
    position: fixed;
    width: 250px;
    padding-top: 50px;
    height: 100%;
    max-height: 100%;
    color: white;
    box-shadow: 3px 0 9px rgba(0,0,0,0.4);
    overflow: hidden;
    transition: all cubic-bezier(.2,1,.6,1) .4s;
    -webkit-overflow-scrolling: touch;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    & .btn{
        border: 0;
        border-radius: 0;
    }

    &.responsive{
        box-shadow: inset 10px 0 9px -7px rgba(0,0,0,0.4), 10px 0 9px 7px rgba(0,0,0,0.4);
        width: 300px;
        left: 0px;
    }

    & .sidebar-panel-1x1{
        width: 200px;
        height: 200px;
        background: white;
        margin: 0 auto;
        margin-bottom: 25px;
    }

    &.responsive-sidebar{
        & .sidebar-panel-1x1{
            width: 200px;
            height: 200px;
            background: white;
        }

        & .sidebar-footer{
            width: 300px;
        }
    }

    & .logo{
            max-width:100%;
            max-height:100%;
        }

    & .sidebar-nav{ //ul

        font-size: 1.2em;
        padding: 0;
        color: #ddd;

        & .nav-menu{

            & .nav-menu-icon{
                width: 40px;
                height: 40px;
                padding: 13px;
                float: left;
            }

            &.expanding{
                background-color: #111;
            }

            & > a{
                line-height: 42px;
                padding-left: 25px;
                color: #ccc;
                display: block;
                text-decoration: none;
                transition: background-color linear .1s;

                &:hover{
                    background-color: #111;
                }

                &:active{
                    background-color: #111;
                }
            }
        }

        & .nav-menu.has-child {
            
            & .sidebar-subnav{
                max-height: 0px;
                overflow-y: auto;
                height: 100%;

                &.show{
                    max-height: 300px;
                    transition: max-height cubic-bezier(.2,1,.6,1) .2s;
                }
            }

            /*& i{
                line-height: 40px;
                margin-right: 10px;
            }*/

        }
        

        & .nav-menu.has-child::before{
            font-family: FontAwesome;
            font-style: normal;
            font-weight: normal;
            content: "\f078";
            line-height: 40px;
            margin-right: 10px;
            font-size: 0.8em;
            float: right;
        }

        & .nav-menu.has-child.expanding::before{
            transform: rotateX(180deg);
        }

        & .sidebar-subnav{ //ul li ul
            padding: 0;
            background-color: #222;
            font-size: 0.8em;

            & .nav-menu > a{ //ul li ul li a
                padding-left: 50px;
            }

        }
    }

    & .scrollable{
        overflow: auto;
        height: calc(100% - 93px);
        box-shadow: inset 0 -20px 20px -20px black;
    }

    & .sidebar-footer{
        position: fixed;
        bottom: 0;
        border-top: 1px solid grey;
        background-color: #424037;
        width: 250px;
        font-size: 0.8em;
        color: lightgray;


        & span{
            width: 100%;
            display:table;
            vertical-align:middle;
            text-align:center;
            padding: 10px;
        }

        & ul{
            display: flex;
            margin: 0;
            padding: 0;
        }

        & ul > li {
            flex:1 0 auto;
            text-align: center;
            background-color: #333;

            &:not(:last-child){
                border-right: 1px solid #424037;
            }

            & a{
                font-size: 1.0em;
                color: lightgray;
                transition: background-color linear .05s;
            }

            & a:hover{
                background-color: darkolivegreen;
            }

            & a:active{
                background-color: darkolivegreen;
            }
            
        }
    }
}

.body-canvas{
    padding-left: 0;
    padding-right: 0;
    background-color: white;
    width: 100%;
    min-height: 100%;
    overflow: auto;
    transition: filter cubic-bezier(.2,1,.6,1) .4s;

    & .body-content{
        padding: 15px 30px;

        @include screen-small{
            padding: 15px 15px;
        }
    }

    &.dim{
        filter: brightness(30%);
    }

}

.panel{
    width: 100%;
    border: none;
    /*padding: 15px 10px;*/

    & .panel-heading{
        border-radius: 3px;
    }

    &.dark-background{
        background-color: #222;
        color: #ddd;
    }

    & .panel-content{
        padding: 10px 15px;

        @include screen-small{
            padding: 0;
        }
    }

    & .panel-userprofile{
        background-color: #222;
        height: auto;
        color: #eee;
    }

    & .panel-board{
        border: 1px solid #555;
        height: 200px;
        background: #ccc;
        margin-bottom: 32px;

        &.left{

        }

        &.right{

        }
    }
    
}

.table-display-list{
    & tr{
        line-height: 2em;

        & td:nth-child(1){
            min-width: 130px;
        }

        & td:nth-child(2){
            padding-left: 16px;

            &::before{
                content: ': ';
            }
        }
    }
}

.flex-container{
    display: flex;

    & .area{
        width: 100%;

        
    }
}

h2.headline{
    padding-bottom: 4px;

    &.red{
        border-bottom: 2px solid #b75252;
    }

    &.green{
        border-bottom: 2px solid #84b752;
    }

    &.blue{
        border-bottom: 2px solid #5297b7;
    }
}

.search-filter{
    background-color: white;
    border: 1px solid #2c3e50;
    border-radius: 8px;
    border-color: grey;
    padding: 2px;
    padding-left: 5px;
    margin-left: -5px;
    box-shadow: 0;
    
    transition: box-shadow linear .1s, border-color linear .1s;
}

.search-filter:focus{
    box-shadow: 0 0 2px 2px #73678E;
    border-color: white;
    outline: none;
    
}

.dataTables_wrapper input::-webkit-input-placeholder{
    text-align: center;
    font-weight: normal;
    font-size: 14px;
    font-style: italic;
}

.dataTables_wrapper{

    & table thead tr td.checkbox,
    & table tbody tr td.checkbox{
        text-align: center;
    }

    & table thead th,
    & table thead td{
        padding: 10px 10px;
    }

    & .dataTables_paginate {
        & .paginate_button{
            color: white !important;
            border: 1px solid lightgrey !important;
            border-radius: 6px !important;

        }

        & .paginate_button:hover{
            background: #73678E !important;
        }

        & .paginate_button.previous.disabled{
            display: none;
        }

        & .paginate_button.next.disabled{
            display: none;
        }

        & span{
            & .paginate_button.current{
                color: white !important;
                background: #554773 !important;

            }

            & .paginate_button.current:hover{
                color: white !important;
                background: #554773 !important;

            }
        }
        
    }
}

.mode-delete{
    position: absolute;
    float: left;
    -ms-transform: translateX(-150px);
    -webkit-transform: translateX(-150px);
    transform: translateX(-150px);
    opacity: 0;
    transition: transform linear .2s, opacity linear .2s;
    pointer-events: none;
}

.mode-create{
    position: absolute;
    float: left;
    -ms-transform: translateX(-150px);
    -webkit-transform: translateX(-150px);
    transform: translateX(-150px);
    opacity: 0;
    transition: transform linear .2s, opacity linear .2s;
    pointer-events: none;
}

.mode-create.show{

    -ms-transform: translateX(0px);
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 1;
    pointer-events: unset;

}

.mode-delete.show{

    -ms-transform: translateX(0px);
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 1;
    pointer-events: unset;
}

.mode-delete.btn-group{
    border: 1px solid lightgrey;
    border-radius: 5px;
}

.not-clickable{
    background-color: transparent;
    pointer-events: none !important;
}

.ui-message-wrapper{

    & .ui-message-body{

        position: relative;
        height: auto;
        overflow: hidden;

        & .alert{
            position:relative;
            margin-bottom: 0;

            a{
                color: white;
                text-decoration: underline;
            }
        }   
    }
}


@media screen and (max-width: 1500px){

    .container{
        width: 1200px;
    }
}

@media screen and (max-width: 1200px){

    .container{
        width: 100%;
    }
}

@media screen and (max-width: 767px){

    .sidebar{
        left: -250px;
        padding-left: 0;
        padding-right: 0;
    }

    .container{
        padding-left: 0;
        padding-right: 0;
        width: 100%;
    }
}

@media screen and (-webkit-min-device-pixel-ratio:0){
    /* Disable zoom in */
    input[type="color"],
    input[type="date"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="email"],
    input[type="month"],
    input[type="number"],
    input[type="password"],
    input[type="search"],
    input[type="tel"],
    input[type="text"],
    input[type="time"],
    input[type="url"],
    input[type="week"],
    select:focus,
    textarea {
      font-size: 16px;
    }
}